# Ruckus Template for ICX

# Enter commands in 'config' mode

contact BUSD Technology <technologyhelpdesk@berkeley.net>
location {{ sitename }} [router loopback: 10.1.1.{{ sitecode }}] {{ siteaddress }} [{{ sitegps }}]

# Generate the Ruckus create vlan statements from a dictionary called vlans

# Iterate over the key, value pairs in the dictionary 
{% for vlan_id, vlan_name in vlans.items() %}
  vlan {{ vlan_name }} name {{ vlan_id }} by port
  {% if is_trunk %}
  tagged {{ trunk_port }}
  {% endif %}
!
{% endfor %}

