#-------------------------------------------------------------------------
#
#  Juniper Configuration for {{ sitename }}
#
#  Configuration Generated ............ {{ lookup('pipe','date +%Y-%m-%d') }}
#
#  sitename ........................... {{ sitename }}
#    site code ........................ {{ sitecode }}
#    site abbreviation ................ {{ siteabbreviation }}
#    site address ..................... {{ siteaddress }}
#    site loopback address ............ 10.1.1.{{ sitecode }}
#    site aggregate prefix ............ 10.{{ sitecode }}.0.0/16
#    ptp uplink prefix ................ {{ ptp_uplink_prefix }}
#      ptp uplink core side ........... {{ ptp_uplink_core_side }}
#      ptp uplink site side ........... {{ ptp_uplink_site_side }}
#  vlans
{% for vlan_name, vlan_id in vlans.items() %}
#    {{ "%-13s" | format(vlan_name) }} .................... {{ '%03d' % vlan_id }}
{% endfor %}
#
#-------------------------------------------------------------------------

# Enter commands in 'config' mode

set snmp contact "Technology Dept <technologyhelpdesk@yourschooldistrict.net>"
set snmp location "{{ sitename }} {{ siteaddress }} [{{ sitegps }}]"
#
set interfaces lo0 unit 0 family inet address 10.1.1.{{ sitecode }}/32
#
set interfaces irb unit 1000 description BACKBONE_UPLINK
set interfaces irb unit 1000 family inet address {{ ptp_uplink_site_side }}/30
# Static default route
set routing-options static route 0/0 next-hop {{ ptp_uplink_core_side }} 
#
set forwarding-options dhcp-relay relay-option default-action relay-server-group DHCP_VLANS
set forwarding-options dhcp-relay server-group DHCP_VLANS 10.60.8.5
set forwarding-options dhcp-relay active-server-group DHCP_VLANS
#
{# Iterate over the vlans in the dictionary #}
{% for vlan_name, vlan_id in vlans.items() %}
#
set vlans {{ vlan_name }} vlan-id {{ vlan_id }}
#
set interfaces irb unit {{ vlan_id }} description CAN_{{ vlan_name }}
set interfaces irb unit {{ vlan_id }} family inet address 10.{{ sitecode }}.{{ vlan_id }}.1/24
set forwarding-options dhcp-relay group DHCP_VLANS interface irb.{{ vlan_id }}
#
{% endfor %}

