# Ruckus Template for ICX

# Enter commands in 'config' mode

contact BUSD Technology <technologyhelpdesk@berkeley.net>
location {{ sitename }} [router loopback: 10.1.1.{{ sitecode }}] {{ siteaddress }} [{{ sitegps }}]

# Generate the Ruckus create vlan statements from a dictionary called vlans

# Iterate over the key, value pairs in the dictionary 
# Check to see if trunk_port variable is defined. Include trunk port if it is. Pass if undefined.
{% for vlan_id, vlan_name in vlans.items() %}
  vlan {{ vlan_name }} name {{ vlan_id }} by port
  {% if trunk_port is defined %}
  tagged {{ trunk_port }}
  {% endif %}
!
{% endfor %}

! setup routed interface to Backbone
interface ve 1000
 port-name Backbone
 ip address 10.99.99.{{ sitecode }} 255.255.255.0
 no ip redirect